{% extends 'base_preregister.html' %} {% block page_title %}Login{% endblock %} {% block content %}


<section class="profile-card-container">
    <div class="card-container card-margin-top">
        <div class="card-form card account-access-form">
            <div class="card-form-container">
                <h3>Đăng nhập bằng tài khoản của bạn</h3>
                <hr>
                <form class="standard-form" method="POST">
                    {% csrf_token %} {{ login_form }}
                    <button class="submit-wide submit-success" type="submit">Đăng nhập</button>
                </form>


            </div>

        </div>
    </div>
</section>

<div class="footer-spacer">
</div>

{% endblock %}
