{% extends 'base.html' %} {% load static from static %} {% block page_title %}Subscribe{% endblock %} {% block content %}

<section class="subscriptions-container">
    <!--Incentives to subscribe-->
    <h1 class="quick-match-heading">NÂNG CẤP TÀI KHOẢN PREMIUM</h1>
    <div class="subscription-page-subtitle">
        <p><i class="far fa-comment-alt"></i> GỬI TIN NHẮN KHÔNG GIỚI HẠN</p>
        <p><i class="fas fa-eye"></i> KIỂM TRA LỊCH SỬ GHÉ THĂM PROFILE CỦA BẠN</p>
        <p><i class="far fa-star"></i> TRẢI NGHIỆM NHỮNG TÍNH NĂNG MỚI NHẤT</p>
    </div>
    <!--Plan options-->
    <div class="subscription-modal-container">
        <div class="subscription-modal subscription-modal-1 modal-content card-container">
            <div class="card-form card">
                <div class="card-form-container">
                    <h3 class="inactive-subscription-option no-incentive-badge-title">1 THÁNG</h3>
                    <hr class="inactive-subscription-option">
                    <h4 class="subscription-price">400.000đ<span> / tháng</span></h4>
                    <p class="subscription-subtitle">Thanh toán theo từng tháng</p>
                    <button data-price="400.000đ" data-plan="plan_F5eyGdYCvZPtON" class="inactive-subscription-option subscription-button btn btn-success">MUA NGAY</button>
                </div>
            </div>
        </div>
        <div class="subscription-modal subscription-modal-3 modal-content card-container">
            <div class="card-form card">
                <div class="card-form-container">
                    <h3>3 THÁNG</h3>
                    <div class="incentive-badge btn btn-success">BÁN CHẠY NHẤT</div>
                    <hr>
                    <h4 class="subscription-price">300.000đ<span> / tháng</span></h4>
                    <p class="subscription-subtitle">Thanh toán theo kỳ 3 tháng</p>
                    <button data-price="900.000đ" data-plan="plan_F5ey2nnZwy5v8Q" class="subscription-button btn btn-success">MUA NGAY</button>
                </div>
            </div>
        </div>
        <div class="subscription-modal subscription-modal-6 modal-content card-container">
            <div class="card-form card">
                <div class="card-form-container">
                    <h3 class=" inactive-subscription-option">6 THÁNG</h3>
                    <div class="incentive-badge btn btn-success">TỐI ĐA ƯU ĐÃI</div>
                    <hr class="inactive-subscription-option">
                    <h4 class="subscription-price">200.000đ<span> / tháng</span></h4>
                    <p class="subscription-subtitle">Thanh toán theo kỳ 6 tháng</p>
                    <button data-price="1.200.000đ" data-plan="plan_F5eyNlWXHig7YB" class="inactive-subscription-option subscription-button btn btn-success">MUA NGAY</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card-container subscription-card-container">
    <div class="card-form card">
        <div class="card-form-container">
            <!--Billing information form-->
            <h3 class="billing-title">Thông tin thanh toán</h3>
            <hr>
            <form class="standard-form subscription-form" role="form" method="POST" id="subscription_form" action="{% url 'subscribe' %}">
                {% for field in order_form.hidden_fields %} {{ field }} {% endfor %} {% for field in order_form.visible_fields %}
                <p {% if field.name == "plans" %}class="hidden-plan" {%endif%}>
                    <label for="id_{{field.name}}">{{ field.label }}</label> {{ field }}
                </p>
                {% endfor %} {% for field in payment_form.hidden_fields %} {{ field }} {% endfor %} {% for field in payment_form.visible_fields %}
                <p>
                    <label for="id_{{field.name}}">{{ field.label }}</label> {{ field }}
                </p>
                {% endfor %} {% csrf_token %}
                <!--Total-->
                <div class="subscription-total">
                    <hr>
                    <h4>CHI TIẾT ĐĂNG KÝ</h4>
                    <p>GÓI ĐÃ CHỌN: <span class="plan-total">3 THÁNG</span></p>
                    <p>TỔNG CỘNG: <span class="cost-total">900.000đ</span></p>
                </div>
                <div class="subscription-total-submit subscription-total">
                    <input type="submit" class="submit-success" value="ĐĂNG KÝ" name="message_submit" />
                </div>
        </div>
        </form>
    </div>
</div>



{% endblock %} {% block js %}
<!--Required JS dependencies for Stripe payments-->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
